.card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(218, 220, 224);
    padding: 24px;
    border-image-width: 1;
    border-width: 1px;
    margin: 10px;
    background-color: white;
}

.card-nome {
    flex: 20;
}

.card-disponibilidade {
    flex: 40;
    flex-direction: column;
    justify-content: space-between;
}

.card-obs {
    flex: 20
}

.input {
    text-decoration: none;
    border-style: none;
    border-bottom: 1px solid rgb(218, 220, 224);
}

.input:focus-visible {
    text-decoration: none;
    border-style: none;
    border-bottom: 1px solid rgb(218, 220, 224);
}

.footer {
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 11px;
}

.form {
    /* height: 100vh; */
    background-color: rgb(250, 201, 247);
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(250, 201, 247);
}

.button-selected {
    background-color: rgb(247, 110, 240);
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    margin: 7px;
}

.checkbox-container:hover {
    cursor: pointer;
}

.text-button {
    color: white;
}

.button {
    padding: 10px;
    background-color: rgb(248, 38, 238);
    border: solid 1px rgb(248, 38, 238);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(253, 105, 246);
    border: solid 2px rgb(250, 4, 238);
    padding: 9px;
    box-shadow: 1px 1px rgb(250, 4, 238);
}

.day-of-missa-button {
    background-color: grey;
    border-color: rgb(250, 4, 238);
    border-radius: 50%;
    margin: 5px;
}

.day-selected {
    background-color: rgb(248, 38, 238);
}

.img-container {
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-style: solid 1px rgb(247, 110, 240);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.daysOfMissaContainer {
}

.checkbox {
}

img {
    height: 20vh;
}
